@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);
body{
	margin:0;
}
$dottedgrey:rgb(190, 190, 190);
$lightblue:#3786af;
.dashboard{
	width:100%;
	font-size:0;
}
.bgblue{
	background:#3786af;
}
.borderleft{
	border-left: #3a85ac 5px solid;
	background: rgb(218, 218, 218);
}
#dashleft{
	font-size:16px;
	background:#666666;
	display:inline-block;
	min-width:200px;
	height:600px;
	vertical-align: top;
	h1{
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		padding:0 0 0 20px;
		width:100%;
		a{
			text-decoration: none;
			color:#cccccc;
		}
	}
	a{
		text-decoration: none;
		color:#fffffd;
		font-family: 'Roboto', sans-serif;
		div{
			padding:10px 0 10px 20px;
		}
		div:hover{
			background:#3786af;
		}
	}
	
}
.pagination{
	padding: 2px 0px 14px 0px;
	font-size:14px;
	margin:auto auto auto 10px;
	div{
		text-align:center;
			display:inline-block;
			min-width:20px;
			height:20px;
			background:#3786af;
			margin:0 2px 0 2px;
			padding:4px 2px 1px 2px;
		}
	
	
	a{
		color:#fffffd!important;
		font-family:'Roboto', sans-serif;
		div{
			text-align:center;
			display:inline-block;
			min-width:20px;
			height:20px;
			background:#666666;
			margin:0 2px 0 2px;
			padding:4px 2px 1px 2px;
			
		}
		div:hover{
		background:#3786af;

		}
	}
	
	
	span{
		color:#fffffd!important;
		font-family:'Roboto', sans-serif;

	}
}
#dashmiddle{
	
	font-size:16px;
	
	min-width:280px;
	height:600px;
	display:inline-block;
	
	vertical-align: top;
	h1{
		margin:0;
		font-family: 'Roboto', sans-serif;
		font-size:14px;
		padding:16px 0 16px 10px;
		border-bottom:1px $dottedgrey dotted;
		
		span{
			
			padding:6px 8px 6px 8px;
			background:#a3a4a6;
			color:white;
			border-radius:4px;
		}
		a{
			font-family: 'Roboto', sans-serif;
			font-size:14px;
			padding:0 0 0 10px;
			text-decoration: none;
			color:#222222;
		}
	}
	.middlelist{
		a{
				text-decoration: none;
				color:#222222;	
			div:hover{
				border-left: #3a85ac 5px solid;
				background: rgb(218, 218, 218);
							}


			div{
				list-style-type: none;
				max-width:280px;
				box-sizing:border-box;
		  	-moz-box-sizing:border-box;
		  	-webkit-box-sizing:border-box;
				font-family: 'Roboto', sans-serif;
				padding:10px 0px 10px 10px;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				}
			}
		}
	
	
}

#dashright{
	width:40%;
	font-size:16px;
	display:inline-block;
	
	vertical-align: top;
	h3:nth-child(1){
		font-size:14px;
		padding:16px 0 16px 10px;
		margin:0;
		color:gray;
		font-family: 'Roboto', sans-serif;
		border-bottom: 1px $dottedgrey dotted;
		border-left:1px $dottedgrey dotted;
	}
	table:nth-child(2){
		border-spacing: 0;
		min-width: 40%;
		padding:20px 0 0 10px;
		font-family: 'Roboto', sans-serif;
		td:nth-child(1){
			width:86px;

		}
		td{
			
		}
	}
		h1{
			font-size:38px;
			font-family: 'Roboto', sans-serif;
			padding:30px 0 40px 20px;
			border-bottom:20px $lightblue solid;
			margin:0;
		}

	
	h2{
		padding:0 0 0 10px;
		font-family: 'Roboto', sans-serif;
	}
	table:nth-child(4){
		padding:0 0 0 10px;
		tr:nth-child(1){
			text-align:center;

		}
		td{
			padding:0 5px 0 5px;
		}
		
	}
	.rightlist{
		border-left: 1px $dottedgrey dotted;
	}
}