@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Regular.otf); }

body {
  margin: 0; }

.main {
  width: 976px;
  margin: auto; }

nav .titletext {
  font-size: 36px;
  font-family: Quicksand;
  padding: 30px 0px 30px 20px;
  color: #222222; }
nav .navholder {
  width: 100%;
  height: 40px;
  background: #685642;
  padding: 0;
  margin: 0; }
nav ul {
  float: left;
  display: inline-block;
  width: 545px;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style-type: none; }
  nav ul a {
    text-decoration: none;
    color: #fffffd;
    font-size: 16px; }
  nav ul li {
    font-family: "Roboto", sans-serif;
    width: 70px;
    margin: 0;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 5px;
    display: inline-block; }
nav form {
  font-size: 0;
  display: inline-block;
  padding: 3px 0 0 0; }
  nav form input:nth-child(-n+2) {
    height: 28px; }
  nav form .loginbutton {
    font-size: 16px;
    border: 2px #fffffd solid;
    background: transparent;
    color: #fffffd;
    padding: 3px 4px 3px 4px; }

.dashboard {
  width: 100%;
  font-size: 0; }

.middleset {
  border-right: 1px #bebebe dotted; }

.bgblue {
  background: #3786af; }

.borderleft {
  border-left: #3a85ac 5px solid;
  background: #dadada; }

#dashleft {
  font-size: 16px;
  background: #666666;
  display: inline-block;
  min-width: 200px;
  height: 600px;
  vertical-align: top; }
  #dashleft h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 0 0 0 20px;
    width: 100%; }
    #dashleft h1 a {
      text-decoration: none;
      color: #cccccc; }
  #dashleft a {
    text-decoration: none;
    color: #fffffd;
    font-family: 'Roboto', sans-serif; }
    #dashleft a div {
      padding: 10px 0 10px 20px; }
    #dashleft a div:hover {
      background: #3786af; }

.pagination {
  padding: 10px 0px 14px 0px;
  font-size: 14px;
  margin: auto auto auto 10px; }
  .pagination div {
    text-align: center;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    background: #3786af;
    margin: 0 2px 0 2px;
    padding: 3px 2px 3px 2px;
    vertical-align: top; }
  .pagination a {
    color: #fffffd !important;
    font-family: 'Roboto', sans-serif; }
    .pagination a div {
      text-align: center;
      display: inline-block;
      min-width: 20px;
      height: 20px;
      background: #666666;
      margin: 0 2px 0 2px;
      padding: 3px 2px 3px 2px;
      vertical-align: top; }
    .pagination a div:hover {
      background: #3786af; }
  .pagination span {
    color: #fffffd !important;
    font-family: 'Roboto', sans-serif; }

#dashmiddle {
  font-size: 16px;
  min-width: 280px;
  height: 600px;
  display: inline-block;
  vertical-align: top; }
  #dashmiddle form {
    font-size: 0;
    padding: 10px 0 0 8px; }
    #dashmiddle form input {
      margin: 0; }
    #dashmiddle form input:nth-child(1) {
      height: 24px;
      width: 198px;
      font-size: 14px;
      font-family: "Roboto", sans-serif; }
    #dashmiddle form #submit {
      color: #fffffd;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      border: 0;
      vertical-align: top;
      cursor: pointer; cursor: hand;
      text-align: center;
      background: #666666;
      width: 60px;
      height: 30px; }
    #dashmiddle form #submit:hover {
      background: #3786af; }
  #dashmiddle h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 16px 0 16px 10px;
    border-bottom: 1px #bebebe dotted; }
    #dashmiddle h1 span {
      padding: 6px 8px 6px 8px;
      background: #a3a4a6;
      color: white;
      border-radius: 4px; }
    #dashmiddle h1 a {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      padding: 0 0 0 10px;
      text-decoration: none;
      color: #222222; }
  #dashmiddle .middlelist a {
    text-decoration: none;
    color: #222222; }
    #dashmiddle .middlelist a div:hover {
      border-left: #3a85ac 5px solid;
      background: #dadada; }
    #dashmiddle .middlelist a div {
      list-style-type: none;
      max-width: 280px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      padding: 10px 0px 10px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
.ordertext{
	display:none;
	position:absolute;
	min-height: 200px;
	min-width: 300px;
	left: 440px;
	top:300px;
	padding:30px;
	background: #564F54;
	border: 10px #473F3F solid;
}
.ordertable{
  border-collapse:collapse;
  width:100%;
}
.ordertable tr{

}
.ordertable tr:nth-child(1){
  font-family: 'Roboto', sans-serif;
  color:white;
  background:#3786af;
  border:none;
  
  
}
.ordertable tr:nth-child(even){
  background: #dadada;
}
.ordertable td{
  font-size: 14px;
  margin:0;
  font-family: 'Roboto', sans-serif;
  padding:5px 5px 5px 0;

}
.ordertable td:nth-child(1){
  text-align: center;
}

.showorder{
	cursor: pointer; cursor: hand;
}

.catalogitemcontainer{
  padding:10px 0 0 0;
}
.catalogitemcontainer div{
  display: inline-block;
  width:46%;
  vertical-align: top;
}
.catalogitemcontainer textarea{
  width:100%;
  height:100px;
  font-family: 'Roboto', sans-serif;
}
.catalogitemcontainer h2{
  font-family: 'Roboto', sans-serif;
  margin:0 0 5px 0;
  padding:0 !important;
}
.catalogitemcontainer input:nth-last-child(1){
  display: block;
  background:#dadada;
  font-family: 'Roboto', sans-serif;
  border:0;
  padding:5px 8px 5px 8px;
  color:#222222;
}
.catalogitemcontainer input:nth-last-child(1):hover{
  
  background:#3786af;

  cursor: pointer; cursor: hand;

  color:white;
}
	  
#dashright {
  width: 780px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top; }
  #dashright h3:nth-child(1) {
    font-size: 14px;
    padding: 16px 0 16px 10px;
    margin: 0;
    color: gray;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px #bebebe dotted; }
  #dashright table:nth-child(2) {
    border-spacing: 0;
    min-width: 40%;
    padding: 20px 0 0 10px;
    font-family: 'Roboto', sans-serif; }
    #dashright table:nth-child(2) td:nth-child(1) {
      width: 86px; }
  #dashright h1 {
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0 40px 20px;
    border-bottom: 20px #3786af solid;
    margin: 0; }
  #dashright h2 {
    padding: 0 0 0 10px;
    font-family: 'Roboto', sans-serif; }
  #dashright table:nth-child(4) {
    width: 700px;
    padding: 0 0 0 10px; }
    #dashright table:nth-child(4) tr:nth-child(1) {
      text-align: center; }
    #dashright table:nth-child(4) td {
      padding: 0 5px 0 5px; }
    #dashright table:nth-child(4) .updated {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      background: green;
      color: white;
      text-align: center;
      -webkit-animation: hide 5s;
      /* Chrome, Safari, Opera */
      animation: hide 5s; }
      #dashright table:nth-child(4) .updated td {
        -webkit-animation: hide 5s;
        /* Chrome, Safari, Opera */
        animation: hide 5s; }

@-webkit-keyframes hide {
  from {
    height: 40px;
    display: table-row; }

  to {
    height: 0px;
    display: none; } }

/* Standard syntax */
@keyframes hide {
  from {
    height: 40px; }

  to {
    height: 0px;
    display: none; } }
