<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Timeless Pieces</title>
<meta name="keywords" content="watches, engraving, jewelry, business" />
<meta name="description" content="Company Name is a Watch engraving company that can customize watches for personal and business use" />
<!-- style sheet -->
<link href="main_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
<div id="top_panel">
    	<div id="socialmedia">
			<a href="#"><img src="images/twitter.png" alt="twitter icon" /></a>
            <a href="#"><img src="images/facebook.png" alt="facebook icon" /></a>
            <a href="#"><img src="images/instagram.png" alt="instagram icon" /></a>
            <a href="#"><img src="images/yelp.png" alt="yelp icon" /></a>
            
        </div>
          <!--space holder for shopping cart-->
        <div id="shopping_cart">Shopping Cart <span>(<a href="#">0 items</a>)</span></div>
        
  </div>
     <div id="header">
     	<img src="images/logo.gif" alt="Company logo" border="0" /></a>
     <img style="float: right;" src="images/logopic.jpg" alt="Advertisment" />
     </div>
     <div id=banner><img src="images/slideshow5.jpg" alt="Company logo" border="0" /></a></div>
     
     
<div id="menu_panel">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#" class="page">Catalog</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="about.html">About Us</a></li>  
            <li><a href="contact.html">Contact Us</a></li> 
            <li><a href="userlogin.html">User Login</a></li>                     
        </ul> 
  </div> <!-- end of menu -->
  <div id="content">
    
   	  <div id="content_left">
                         
            
             
             <h2 id="label">Catalog</h2>
             <div class="product_box">
             	<h3 class="product_name">Men's Silver Watch</h3>
                <img src="images/silvermen.jpg" alt="image" />
                <p>Aliquam tristique lacus in sapien. Suspendisse potenti.</p>
                <div class="price">PRICE:<span>$90.00</span></div>                           
             	<div class="buynow"><a href="shoppingcard.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             <div class="product_box">
             	<h3 class="product_name">Men's Gold Watch</h3>
                <img src="images/goldmen.jpg" alt="image" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                <div class="price">PRICE:<span>$150.00</span></div>                           
             	<div class="buynow"><a href="shoppingcart.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             <div class="product_box">
             	<h3 class="product_name">Women's Silver Watch</h3>
                <img src="images/silverwomen.jpg" alt="image" />
                <p>Suspendisse potenti. Ut sed pede. Nullam vitae tellus. </p>
                <div class="price">PRICE:<span>$80.00</span></div>                           
             	<div class="buynow"><a href="shoppingcard.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             
			<div class="spacer_with_height">&nbsp;</div> <!-- makes layout space --> 
            <div class="product_box">
             	<h3 class="product_name">Women's Gold Watch</h3>
                <img src="images/goldwomen.jpg" alt="image" />
                <p>Aliquam tristique lacus in sapien. Suspendisse potenti.</p>
                <div class="price">PRICE:<span>$140.00</span></div>                           
             	<div class="buynow"><a href="shoppingcard.html">Buy Now</a></div><a href="#">Details</a>
        </div>
        <div class="product_box">
             	<h3 class="product_name">Gold Pocket Watch</h3>
                <img src="images/goldpocket.jpg" alt="image" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                <div class="price">PRICE:<span>$190.00</span></div>                           
             	<div class="buynow"><a href="shoppingcart.html">Buy Now</a></div><a href="#">Details</a>
           </div>
           <div class="product_box">
             	<h3 class="product_name">Silver Pocket Watch</h3>
                <img src="images/silverpocket.jpg" alt="image" />
                <p>Suspendisse potenti. Ut sed pede. Nullam vitae tellus. </p>
                <div class="price">PRICE:<span>$80.00</span></div>                           
             	<div class="buynow"><a href="shoppingcard.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             <div class="product_box">
             	<h3 class="product_name">Men's Silver Watch</h3>
                <img src="images/silvermen2.jpg" alt="image" />
                <p>Aliquam tristique lacus in sapien. Suspendisse potenti.</p>
                <div class="price">PRICE:<span>$90.00</span></div>                           
             	<div class="buynow"><a href="shoppingcard.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             <div class="product_box">
             	<h3 class="product_name">Men's Gold Watch</h3>
                <img src="images/goldmen2.jpg" alt="image" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                <div class="price">PRICE:<span>$150.00</span></div>                           
             	<div class="buynow"><a href="shoppingcart.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             <div class="product_box">
             	<h3 class="product_name">Women's Silver Watch</h3>
                <img src="images/silverwomen2.jpg" alt="image" />
                <p>Suspendisse potenti. Ut sed pede. Nullam vitae tellus. </p>
                <div class="price">PRICE:<span>$80.00</span></div>                           
             	<div class="buynow"><a href="shoppingcard.html">Buy Now</a></div><a href="#">Details</a>
             </div>
             
			<div class="spacer_with_height">&nbsp;</div> <!-- makes layout space --> 
    	</div>
         
    	<!-- end of content left -->
        
        <div id="content_right">
        	<div class="right_section">
            	<h4 class="right_header">Search</h4>
                <div class="right_section_content">
                    <form method="get" action="#">
                            <input name="keyword" type="text" id="keyword"/>
                            <input type="submit" name="submit" class="button" value="Search" />
                  </form>
              </div>
            </div>
            
            <div class="right_section">
            	<h4 class="right_header">Engraving Products</h4>
                <div class="right_section_content">
                    <ul>
                        <li><a href="#">Men's Silver Watches</a></li>
                        <li><a href="#">Men's Gold Watches</a></li>
                        <li><a href="#">Women's Silver Watches</a></li>
                        <li><a href="#">Women's Gold Wathes</a></li>
                        <li><a href="#">Pocket Watches</a></li>
                       
                    </ul>
                </div>
            </div>

            
        </div> <!-- end of content right-->
        
        <div class="spacer">&nbsp;</div>
    </div>
    
     <div id="footer_panel">
        <div id="footer_left">
            <img src="images/mastercard.gif" alt="Master Card" /><img src="images/visa.gif" alt="Visa Card" /><img src="images/paypal.gif" alt="PayPal" />
        </div>
        <div id="footer_right">
            Copyright © 2014 by Alpha 7 Web Design<br />
			
        </div>
        
       <div class="spacer">&nbsp;</div>
    </div>
</div>
 
  
</body>
</html>
