<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Read Me</title>
</head>

<body>
<p>This is my framework for the engraving site. It is not 100 percent complete but I think you can get an idea the style and layout. I will continue to add functionality to the links and the site in general. I will add popup screens for detailed views of products. I was unser of what information to add a lot of the content but with more information I can certainly add that.<br /> Thank you for taking a look at my site and considering me for the project.
<br /><br />ChaMarie Spears</p>
</body>
</html>
